.Header {
  position: absolute;
  top: 0; 
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.Header__Logo {
  background-image: url(assets/logo128x128.png); 
  width: 128px; 
  height: 128px; 
  display: inline-block;
}

.Header__Name {
  font-weight: 800; 
  font-size: 48px; 
  color: white;
  background-color: #008ed2;
  border-radius: 12px;
  padding: 12px;
}